//! **************************************************************************
// Written by: Map P.20131013 on Mon Jun 03 10:36:02 2019
//! **************************************************************************

SCHEMATIC START;
COMP "VGA_B<0>" LOCATE = SITE "P83" LEVEL 1;
COMP "VGA_B<1>" LOCATE = SITE "P84" LEVEL 1;
COMP "VGA_G<0>" LOCATE = SITE "P81" LEVEL 1;
COMP "VGA_G<1>" LOCATE = SITE "P82" LEVEL 1;
COMP "VGA_R<0>" LOCATE = SITE "P79" LEVEL 1;
COMP "VGA_R<1>" LOCATE = SITE "P80" LEVEL 1;
COMP "Key0" LOCATE = SITE "P78" LEVEL 1;
COMP "SW<0>" LOCATE = SITE "P51" LEVEL 1;
COMP "SW<1>" LOCATE = SITE "P48" LEVEL 1;
COMP "SW<2>" LOCATE = SITE "P55" LEVEL 1;
COMP "SW<3>" LOCATE = SITE "P56" LEVEL 1;
COMP "SW<4>" LOCATE = SITE "P57" LEVEL 1;
COMP "SW<5>" LOCATE = SITE "P58" LEVEL 1;
COMP "SW<6>" LOCATE = SITE "P66" LEVEL 1;
COMP "SW<7>" LOCATE = SITE "P59" LEVEL 1;
COMP "an<0>" LOCATE = SITE "P46" LEVEL 1;
COMP "an<1>" LOCATE = SITE "P45" LEVEL 1;
COMP "an<2>" LOCATE = SITE "P41" LEVEL 1;
COMP "an<3>" LOCATE = SITE "P32" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "P132" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P131" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "P127" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "P126" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "P124" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "P123" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "P121" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "P120" LEVEL 1;
COMP "VGA_HS" LOCATE = SITE "P87" LEVEL 1;
COMP "VGA_VS" LOCATE = SITE "P85" LEVEL 1;
COMP "seg<0>" LOCATE = SITE "P47" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "P43" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "P34" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "P40" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "P35" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "P44" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "P30" LEVEL 1;
COMP "seg<7>" LOCATE = SITE "P33" LEVEL 1;
COMP "CLOCK_24" LOCATE = SITE "P50" LEVEL 1;
COMP "RESET_N" LOCATE = SITE "P133" LEVEL 1;
SCHEMATIC END;

